service: magento

package:
  individually: true
  exclude:
    - ./**

provider:
  name: openwhisk
  runtime: nodejs:default
  ignore_certs: true
  defaultService: magento
  service: ${opt:service, self:provider.defaultService}

custom:
  npm-version: ${file(package.json):name}@${file(package.json):version}
  ow-package: ${opt:ow-package, self:custom.npm-version}

plugins:
  - serverless-openwhisk
  - serverless-webpack

resources:
  packages: ${file(serverlessPackageConfig.js)}

functions:
  webActionTransformer:
    name: ${self:custom.ow-package}/webActionTransformer
    handler: "@adobe/commerce-cif-web-action-transformer@0.1.18/index.main"
    ccif_dependency: "@adobe/commerce-cif-web-action-transformer@0.1.18"
